{% load static %}
<html lang="en">
  <body>
    <div class="header">
      <a>Gear Planner</a>
      <a>Moster Zones AK Calc</a>
      <a
        >Boss Timer:
        <span id="boss-timer" data-boss-timer="{{ bossTimer }}"></span
      ></a>
      <embed
        type="text/html"
        style="min-width: 350px"
        src="https://garmoth.com/stream-element/boss-timer/eu?region=1"
      />
    </div>
    <div>{% block content %} {% endblock %}</div>
  </body>

  <script src="{% static 'scripts/time.js' %}"></script>
</html>
