<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BDO Multitool</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        let bossTimer = new Date("{{ bossTimer }}").getTime();
    </script>

</head>
<body class="bg-gray-900 text-white font-sans">
<!-- Header -->
<header class="bg-gray-800 p-4 shadow-lg">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold text-red-400">Black Desert Multitool</h1>
        <nav class="flex space-x-6 text-sm md:text-base">
            <a href="#" class="hover:text-red-300 transition">Gear Planner</a>
            <a href="#" class="hover:text-red-300 transition">Monster Zones AK Calc</a>
            <div class="flex items-center space-x-2">
                <span>Boss Timer:</span>
                <span id="boss-timer" class="font-mono text-red-400"></span>
            </div>
        </nav>
    </div>
</header>

<!-- Main Content -->
<main class="p-6 max-w-4xl mx-auto">
    {% block content %} {% endblock %}
</main>
</body>

<!-- JS -->
<script>
    const timerEl = document.getElementById("boss-timer");

    var x = setInterval(function () {
        var now = Date.now() - 120000;
        var distance = bossTimer - now
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        if (distance < 0) {
            clearInterval(x);
            timerEl.textContent = "EXPIRED";
        } else {
            timerEl.textContent =
                days + "d " + hours + "h " + minutes + "m " + seconds + "s";
        }
    }, 1000);
</script>
</html>