{% extends "base.html" %}
{%block content%}
<div style="display: flex; flex-direction: column; align-items: center; gap:15px">
   <form class="text-black" id="login-form" style="display:flex; flex-direction: column; align-items=center; gap:2px">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required /><br />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required
    /><br />
    <button class="button mt-1 bg-blue-700" type="submit">Login</button>
  </form>
  <a>or</a>
  <button class="button bg-gray-600" onclick="location.href='/register';">Sign up</button>
  <div id="message"></div>
</div>
<style>
    .button{
      padding: 5px;
      border-radius: 90px;
    }
  </style>
<script>
  document
    .getElementById("login-form")
    .addEventListener("submit", function (e) {
      e.preventDefault(); // Prevent default form submit

      const form = e.target;
      const formData = new FormData(form);

      fetch("/backend/login/", {
        method: "POST",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
            .value,
        },
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          if (!data.error && data.redirect) {
            window.location.href = data.redirect;
          }
          if (data.error) {
            document.getElementById("message").innerText = data.error;
            console.log(data);
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
</script>

{%endblock content%}
